/* Importa a fonte Open Sans com pesos 300 e 400 do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Define o modelo de caixa para todos os elementos, zera margens e preenchimentos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Estilos para o corpo do documento usando a fonte Press Start 2P */
body {
    background: linear-gradient(to right, #f4f4f4, #e0e0e0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif; /* Utiliza a fonte Press Start 2P para o texto */
}

/* Estilos para o contêiner de cartas de Pokémon */
.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px; /* Adiciona margem ao redor do contêiner */
}

/* Estilos para cada carta de Pokémon */
.pokemon {
    background-color: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra mais sutil */
    margin: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Quando o mouse passa sobre uma carta de Pokémon, ela aumenta ligeiramente de tamanho */
.pokemon:hover {
    transform: scale(1.05);
}

/* Estilos para o contêiner de imagens de Pokémon */
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra à imagem */
}

/* Adiciona margem superior aos elementos com a classe 'info' */
.info {
    margin-top: 20px;
}

/* Estilos para o número do Pokémon */
.number {
    background-color: #333;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 1rem;
    color: #fff;
    display: inline-block;
}

/* Estilos para o nome do Pokémon */
.name {
    margin: 15px 0 7px;
    font-size: 0.8rem;
    color: #333;
}

/* Estilos para o tipo do Pokémon */
.type {
    text-transform: uppercase;
    font-size: 0.5rem;
    color: #666;
    display: inline-block;
    margin-top: 5px;
}

/* Estilo inicial da imagem do Pokémon */
img {
    height: 100px;
    max-height: 250px;
    transition: transform 0.3s ease-in-out;
}

/* Quando o mouse passa por cima da imagem do Pokémon, ela aumenta de tamanho */
img:hover {
    transform: scale(1.2);
}
